<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title> House Price Prediction</title>
  <link rel="stylesheet" href="/static/style.css">
</head>
<body>
<!-- Load Facebook SDK -->
<div id="fb-root"></div>
<script async defer crossorigin="anonymous"
  src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v20.0&appId=1204894171517470&autoLogAppEvents=1">
</script>

<!-- Facebook Page Plugin -->
<div style="max-width:100%;overflow:hidden;text-align:center">
  <div class="fb-page"
       data-href="https://www.facebook.com/TiaraSoftwareConsulting"
       data-tabs="timeline"
       data-width="500"
       data-height="700"
       data-small-header="false"
       data-adapt-container-width="true"
       data-hide-cover="false"
       data-show-facepile="true">
    <blockquote cite="https://www.facebook.com/TiaraSoftwareConsulting"
                class="fb-xfbml-parse-ignore">
      <a href="https://www.facebook.com/TiaraSoftwareConsulting">
        Tiara Software Consulting
      </a>
    </blockquote>
  </div>
</div>


  <div class="container">
    <h2> House Price Prediction</h2>
    <form action="/predict" method="post">
      <label>Area (sqft):</label>
      <input type="number" name="area" step="any" value="{{ area or '' }}" required><br>

      <label>Bedrooms:</label>
      <input type="number" name="bedrooms" value="{{ bedrooms or '' }}" required><br>

      <label>Age (years):</label>
      <input type="number" name="age" value="{{ age or '' }}" required><br>

      <button type="submit">Predict</button>
    </form>

    {% if predicted_price %}
    <div class="result">
      <h3>Predicted Price: ₹{{ predicted_price }}</h3>
    </div>
    {% endif %}
  </div>
</body>
</html>
